<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie info</title>
</head>
<body>

<h2>Show the movie info</h2>

<p th:if="${movie} == null">Course not found</p>

<th:block th:if="${movie}">
    <strong th:text="${movie.id}"></strong>
    <strong th:text="${movie.name}"></strong>
    <strong th:text="${movie.description}"></strong>
    <strong th:text="${movie.credits}"></strong>
</th:block>

<br/>

<a th:href="@{/movie/}">List movies</a>

</body>
</html>