<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our CRUD Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container mt-5">
    <h1>Welcome to Our CRUD Application</h1>
    <div class="links">
        <a href="/drivers" class="btn btn-info">View Drivers</a>
        <a href="/teams" class="btn btn-info">View Teams</a>
        <a href="/new.html" class="btn btn-success">Add New Driver</a>
        <a href="/add_team.html" class="btn btn-success">Add New Team</a>
    </div>
</div>
</body>
</html>
