<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Driver</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h2>Add New Driver</h2>
</header>
<form action="/drivers" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required><br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required><br>
    <input type="submit" value="Add Driver">
</form>
</body>
</html>
